@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("font.css");

:root {
  --background: #fff;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  /* color: rgb(var(--foreground-rgb)); */
  background: var(--background);
  font-family: "vazir" !important;
}
